[submodule "dwm"]
	path = dwm
	url = git@github.com:Cdmium/dwm.git
[submodule "st"]
	path = st
	url = git@github.com:Cdmium/st.git 
[submodule "dwmblocks-async"]
	path = dwmblocks-async
	url = git@github.com/Cdmium/dwmblocks-async
[submodule "dmenu"]
	path = dmenu
	url = git@github.com/Cdmium/dmenu
[submodule "clipmenu"]
	path = clipmenu
	url = git@github.com/cdown/clipmenu.git
[submodule "dfm"]
	path = dfm
	url = git@github.com/amarakon/dfm
